################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/QuestGiver/appsettings.json

.vs/
**/bin/
**/obj/
**/node_modules/
**/dist/