@import "tailwindcss";
@import "tailwind-animate";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/space-grotesk";
@import "@fontsource-variable/manrope";

@custom-variant dark (&:is(.dark *));
@theme inline {
  --font-heading: "Space Grotesk Variable", sans-serif;
  --font-sans: "Manrope Variable", sans-serif;

  /* CORE */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* SURFACES */
  --color-card: var(--card);
  --color-card-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* BRAND */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--on-secondary);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--on-tertiary);

  /* STATE */
  --color-success: var(--success);
  --color-success-foreground: var(--on-success);

  --color-error: var(--error);
  --color-error-foreground: var(--on-error);

  /* UI */
  --color-border: var(--border);
  --color-ring: var(--ring);

  /* === RADIUS === */
  --radius: 0.75rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 4);

  --shadow-glow-soft: var(--glow-soft);
  --shadow-glow-primary: var(--glow-primary);
  --shadow-glow-large: var(--glow-large);
}

@layer base {
  :root {
    /* BACKGROUND */
    --background: #121212;
    --foreground: oklch(0.95 0 0);

    /* SURFACES */
    --card: #17171a;

    /* MUTED */
    --muted: #0e0e0e;
    --muted-foreground: oklch(0.7 0 0);

    /* BRAND */
    --primary: #b49cf5;
    --on-primary: #1a102e;

    --secondary: #1a0b2e;
    --on-secondary: oklch(0.95 0 0);

    --tertiary: oklch(0.93 0.1 95);
    --on-tertiary: #1a102e;

    /* STATES */
    --success: oklch(0.7 0.18 150);
    --on-success: #052e16;

    --error: oklch(0.65 0.25 25);
    --on-error: #2b0b0b;

    /* UI */
    --border: oklch(1 0 0 / 0.08);
    --ring: oklch(0.75 0.25 320);

    --glow-primary: 0 0 15px oklch(0.75 0.25 320 / 0.3);
    --glow-soft: 0 0 10px oklch(92.494% 0.00011 271.152 / 0.126);
    --glow-large: 0 0 120px oklch(92.494% 0.00011 271.152 / 0.226);
  }
  .light {
    --background: #fafafa;
    --foreground: oklch(0.15 0 0);

    --card: #ffffff;

    --muted: #f3f3f3;
    --muted-foreground: oklch(0.45 0 0);

    --primary: #6d28d9;
    --on-primary: #ffffff;

    --secondary: #ede9fe;
    --on-secondary: #2e1065;

    --tertiary: oklch(0.85 0.1 95);
    --on-tertiary: #3f2a00;

    --success: oklch(0.7 0.18 150);
    --on-success: #052e16;

    --error: oklch(0.65 0.25 25);
    --on-error: #ffffff;

    --border: oklch(0 0 0 / 0.1);
    --ring: oklch(0.6 0.2 320);
  }

  * {
    @apply outline-ring/50;
    border-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0 auto;
    max-width: 425px;
  }
}

/* Shadcn/ui overwrites */

.page {
  padding: 2rem 1rem;
  background: linear-gradient(
    180deg,
    oklch(from var(--primary) l c h / 0.2) 0%,
    var(--background) 60%
  );
}
@layer components {
  .card {
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    border: none;
    box-shadow: var(--glow-soft);
  }
}

@layer components {
  .popover-content {
    background: var(--surface-container-highest);
    box-shadow: var(--glow-soft);
    border: none;
  }
}

@layer components {
  input,
  textarea {
    background: var(--surface-container-high);
    border: none;
    transition: all 0.2s ease;
  }

  input:focus,
  textarea:focus {
    background: var(--surface-container-highest);
    box-shadow: var(--glow-primary);
    outline: none;
  }
}

@layer components {
  .btn-primary {
    background: linear-gradient(
      to right,
      var(--primary),
      var(--primary-container)
    );
    border: none;
    box-shadow: var(--glow-primary);
    padding: 20px 20px;
  }

  .btn-secondary {
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
  }
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 999px;
}